/* progress.css */
.progress {
  background: black;
  border-radius: 20px;
  position: relative;
  margin: 15px 0;
  height: 20px;
  width: 100%;
}

.progress-done {
  background: white;
  border-radius: 20px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
