
  
  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 767px) {
    #office_address {
      align-items: center;
    }
  }
  @media screen and (min-width:768px) and (max-width: 1023px) {
    #office_address {
        align-items: center;
    }
  }

  @media screen and (max-width: 767px) {
    #quick_menus {
        align-items: center;
    }
  }
  @media screen and (min-width:768px) and (max-width: 1023px) {
    #quick_menus {
        align-items: center;
    }
  }

  @media screen and (max-width: 767px) {
    #google_mapp {
        align-items: center;
    }
  }
  @media screen and (min-width:768px) and (max-width: 1023px) {
    #google_mapp {
        align-items: center;
    }
  }

  @media screen and (min-width:768px)and (max-width: 1023px) {
    #Social_mediass {
        align-items: center; 
    }
  }