.bottom {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
  }
  .arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
  }

  .back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 1000;
  }
  
  .scroll-to-top {
    background-color: #02356b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .scroll-to-top:hover {
    background-color: #f61fc0;
  }